.message
{
	background-color: #ddffdd;
  	border-left: 6px solid #4CAF50;
  	text-align: center;
}

.fail
{
 	background-color: #ffdddd;
  	border-left: 6px solid #f44336;
  	text-align: center;
 }
