body
{
	background-color: black;
	margin: 0;
	padding: 0;
}

table
{
	background-color: white;
	border: 5px solid black;
	width: 100%;
	border-radius: 12px;
	padding: 5px;

}


td
{
	/*border: solid black;*/
}

.detail
{
	text-align: center;
	background-color: silver;
}

img
{
	width: 20;
	height: 20;
}

.Header
{
	font-size: 200%;
	font-weight: bold;
	border-radius: 6px;
	background-color: maroon;
	color: white;
	text-align: center;
}

.header1
{
	font-weight: bold;
	border-radius: 6px;
	background-color: maroon;
	color: white;
	text-align: center;

}

.header2
{
	background-color: maroon;
	color: white;
	border-radius: 6px;
	font-weight: bold;
	text-align: center;
}

button
{
	align: center;
	width: 50%;
	border-radius: 6px;
}

.button1
{
	border: none;
}

.empty
{
	border: none;
	height: 20%;
	color: white;
}

.update
{
	width: 100%;
	border-radius: 8px;
}


.update:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.delete
{
	width: 100%;
	border-radius: 8px;
}


.delete:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.action
{
	text-align: center;
}

.insert span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.insert span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.insert:hover span {
  padding-right: 25px;
}

.insert:hover span:after {
  opacity: 1;
  right: 0;
}

.insert:hover
{
	background-color: #3e8e41;
	color: white;
}

.insert:active
{
	background-color: #3e8e41;
}